/***********************
*                      *
*  STANDARD COLORS     *
*                      *
*  #607E7E --> light   *
*  #436666   ^         *
*  #2F4F4F   |         *
*  #1B3E3E   |         *
*  #0E3232 --> Dark    *
*                      *
************************/

/* STANDAARD BODY */
body {
    background-color: #607E7E;
    color: #0E3232;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2F4F4F;
    font-weight: bold;
    font-size: 2.5em;
}

a {
    color: #0E3232;
}

a:hover {
    color: #436666;
    text-decoration: none;
}

a:active {
    color: #0E3232;
}

dd, dt {
    margin-left: 0;
}

dt {
    margin: 0.4em;
}

dd {
    font-weight: bold;
    margin: 0.4em;
    margin-bottom: 0.7em;
}

label span {
    background-color: red;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 5px 5px #777777;
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    display: inline-block;
}

label span:empty {
    display: none;
}

label span {
    margin-left: 0.5em;
}

label {
    cursor: pointer;
    display: block;
}

/****************************/

/* MENU */
nav {
    clear: both;
    float: none;
    padding-left: 50px;
}

nav ul {
    background-color: #1B3E3E;
    padding: 0.4em;
    display: inline-block;
    color: #607E7E;
}

nav li {
    display: inline;
}

nav li a {
    color: #607E7E;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.2em;
}

nav li a:hover {
    color: #436666;
}

.menuLogo {
    float: left;
    vertical-align: middle;
    margin: 0 1em;
    height: 100%;
    display: inline-block;
}

.menuLogo img {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.titel {
    float: left;
    font-size: 5em;
    font-weight: bolder;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.titel text {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

/****************************/

/* LANGUAGES BAR */
.languages {
    margin-top: 1em;
    margin-bottom: 1em;
}

.languages img {
    border: 0;
    margin-left: 1em;
}

/****************************/

/* Performances table */
.performancesTable {
    border: 1px solid #0E3232;
    width: 100%;
}

.tableTitle {
    background-color: #0E3232;
    color: #607E7E;
    height: 1.5em;
    border: 1px solid #0E3232;
}

.tableDark {
    background-color: #2F4F4F;
    height: 1em;
}

.tableLight {
    background-color: #436666;
    height: 1em;
}